<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>갈비대첩</title>
<sitemesh:write propertiy="head"/></head>
<body>
	<div class="top_background">
		<header>
			<div id="logo">
				<a href="#"><img src="#" alt="갈비대첩 로고"></a>
			</div>
			<nav>
				<ul>
					<li><a href="#">매장소개</a></li>
					<li><a href="#">메뉴소개</a></li>
					<li><a href="#">오시는길</a></li>
					<li><a href="#">예약하기</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<main>
		<sitemesh:write property="body" />
	</main>
	<div class="background">
		<footer>
			<img class="bottom"
				src="../img/logo.png"
				alt="갈비대첩 로고">
			<div class="bottom">
				(주)갈비대첩<br /> 사업자 등록번호:210-81-49502<br /> 경기 안양시 만안구 박달동 105-3 <br />
				문의:031-441-3393<br /> COPYRIGHT 2021 GALBIDAECHEOB CO.
			</div>
		</footer>
	</div>
</body>
</html>